body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.formulario {
    background-color: #f7f7f7;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.lista-notas {
    background-color: #f7f7f7;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#lista-notas {
    list-style: none;
    padding: 0;
    margin: 0;
}

#lista-notas li {
    padding: 1em;
    border-bottom: 1px solid #ccc;
}

#lista-notas li:last-child {
    border-bottom: none;
}

#btn-crear-nota {
    background-color: #333;
    color: #fff;
    padding: 1em 2em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#btn-crear-nota:hover {
    background-color: #444;
}